* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "微软雅黑";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

ul,
li,
ol {
    list-style: none
}

a {
    text-decoration: none
}

button,
input {
    outline: none;
    border: none
}

html,
body {
    min-width: 1200px;
    height: 100%;
}

#app {
    height: 100%;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", "Adobe 黑体 Std R", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    scrollbar-face-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/100% Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, sans-serif;
    overflow: hidden;
    /* padding-top: 80px; */
}

ul,
li,
ol {
    list-style: none
}

em,
i {
    font-style: normal
}

img {
    border: 0;
    vertical-align: middle
}

button {
    cursor: pointer
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, sans-serif
}

.clearfix::after,
.clearfix::before {
    content: '';
    display: block;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background: rgba(0, 0, 0, 0.8)
}

.left {
    float: left
}

.right {
    float: right
}

.v-left {
    text-align: left;
}

.v-center {
    text-align: center;
}

.v-right {
    text-align: right;
}

.w {
    width: 1200px;
    margin: 0 auto;
}